svg.w-5.h-5 {
  /*paginateメソッドの矢印の大きさ調整のために追加*/
  width: 30px;
  height: 30px;
}

.main-inner{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}

.date{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.date-today{
  margin: 0 20px;
}

.result-table{
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border-top: 1px solid #000;
  border-collapse: collapse;
}

.table-title{
  line-height: 50px;
}

.table-value{
  border-top: 1px solid #d4cfce;
  line-height: 50px;
}

.table__value td:not(:nth-child(1)) a{
  pointer-events: none;
  text-decoration: none;
  color: #000;
}

/* ページネーションのCSS */
nav div:nth-child(1){
  display: none;
}

nav div:nth-child(2) div:nth-child(2) span{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 8px;
  list-style-type: none;
  padding: 0;
}

nav div:nth-child(2) div:nth-child(2) span span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border: 1px solid #2589d0;
  border-radius: 1px;
  color: #2589d0;
}

nav div:nth-child(2) div:nth-child(2) span a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border: 1px solid #2589d0;
  border-radius: 1px;
  color: #2589d0;
}

nav div:nth-child(2) div:nth-child(2) span a:not(:hover){
  text-decoration: none;
}

nav div:nth-child(2) div:nth-child(2) span[aria-current="page"] {
  background-color: #2589d0;
  color: #fff;
  pointer-events: none;
}

nav div:nth-child(2) div:nth-child(2) span[aria-current="page"] span{
  color: #fff;
}