/* ヘッダー */
.header__inner {
  height: 60px;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
}

.header__title {
  color: black;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
}

.nav__item {
  list-style: none;
  display: inline-block;
  text-align: right;
}

.nav__item a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.nav__logout,
.nav__attendance {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-size: 15px;
}

/* フッター */
footer {
  padding-top: 10px;
  height: 30px;
  text-align: center;
}

small {
  font-size: 15px;
  font-weight: bold;
}