

/* メイン */
main{
  background-color: #D3D3D3;
  padding: 20px 0;
}

.main__title{
  font-weight: bold;
  text-align: center;
}

.status{
  text-align: center;
  color: red;
}

.main__attendance{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.timestamp button{
  padding: 60px 180px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}

.attendance__left{
  margin-right: 30px;
}